# DASC5301 Data Science, Fall 2022, Chengkai Li, University of Texas at Arlington
# Programming Assignment 2
# Due: Friday, April 8, 2022, 11:59pm

## **Academic Honesty**
This assignment must be done individually and independently. You must implement the whole assignment by yourself. Academic dishonesty is not tolerated.

## **Requirements**

1.   When you work on this assignment, you should make a copy of this notebook in Google Colab. This can be done using the option `File > Save a copy in Drive` in Google Colab. 
2.   You should fill in your answer for each task inside the code block right under the task. 
3.   You should only insert your code into the designated code blocks, as mentioned above. Other than that, you shouldn't change anything else in the notebook.
4.   The correct output for each task is also included right below the corresponding code block. 
5.  Most of the tasks can be solved with 1 line of code. But you are allowed to use up to 3 lines of code for any task (except Task 10 for which your answer can be longer). 
6.   You may not use any other imports to solve the tasks. In other words, you shouldn't use `import` in any designated code blocks for the tasks.
7.   You should not use any loops, if statementsa, or list/dictionary comprehensions, except for Task 10. You can solve all the tasks by only using features and functions from pandas. 
8.   Even if you can only partially solve a task, you should include your code in the code block, which allows us to consider partial credit. 
9.   However, your code should not raise errors. Any code raising errors will not get partial credit. 
10.   We tried to minimize the interdependence of the tasks. In most cases, even if you don't solve a task, it won't affect you working on the tasks afterwards, although the output of a task may not be fully correct if you didn't correctly solve the preceding tasks. If you get stuck on a task, you can move on to work on the rest and try to come back to that task later.
11.   To submit your assignment, download your Colab into a .ipynb file. This can be done using the option `Download > Download .ipynb` in Google Colab.
12.   Submit the downloaded .ipynb file into the Programming Assignment 2 entry in Canvas.

## **Dataset**

In this assignment, we will do data munging and analysis on a dataset about vehicle sharing. You can run the following code to download the dataset and load it into a `DataFrame` `trips`.

This dataset is generated from a vehicle sharing service. Every row represents a trip and has the following columns: 
- *Start Time* - The time when the trip started
- *End Time* - The time when the trip ended
- *Trip Duration* - Total time duration (in seconds) of the trip
- *Start Station* - Name of the trip's start station
- *End Station* - Name of the trip's end station
- *User Type* -  Type of the user. **Subscriber** refers to the users that subscribed to the service; **Customer** refers the users who take rides without any subscription. 
- *Birth Year* - The birth year of the user

In [322]:
import pandas as pd

!gdown https://drive.google.com/uc?id=1PWyiOq21AbDwOHZvSnsyAA0Zf1e7WQa1
trips = pd.read_csv('vehicle_share.csv')

Downloading...
From: https://drive.google.com/uc?id=1PWyiOq21AbDwOHZvSnsyAA0Zf1e7WQa1
To: /content/vehicle_share.csv
100% 23.0M/23.0M [00:00<00:00, 91.9MB/s]

Let's gain some basic understanding of the dataset by using `info()`, `head()`, and `describe()`.

In [323]:
trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191963 entries, 0 to 191962
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ID             191963 non-null  int64
 1   Start Time     191963 non-null  object
 2   End Time       191963 non-null  object
 3   Trip Duration  191963 non-null  float64
 4   Start Station  191963 non-null  object
 5   End Station    191963 non-null  object
 6   User Type      191963 non-null  object
 7   Gender         110287 non-null  object
 8   Birth Year     110501 non-null  float64
dtypes: float64(2), int64(1), object(6)
memory usage: 13.2+ MB

In [292]:
trips.head()

,ID,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610.0,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
1,961916,2017-05-26 09:41:44,2017-05-26 09:46:25,281.0,Ashland Ave & Lake St,Wood St & Hubbard St,Subscriber,Female,1983.0
2,1023296,2017-05-30 15:46:18,2017-05-30 15:52:12,354.0,Larrabee St & Kingsbury St,Clark St & Elm St,Subscriber,Male,1985.0
3,958716,2017-05-25 22:59:33,2017-05-25 23:07:19,466.0,Clark St & Armitage Ave,Sheffield Ave & Wrightwood Ave,Subscriber,Female,1985.0
4,718598,2017-05-03 13:20:38,2017-05-03 13:31:13,635.0,Ada St & Washington Blvd,Daley Center Plaza,Subscriber,Male,1967.0

In [ ]:
trips.describe()

                 ID  Trip Duration     Birth Year
count  1.919630e+05  191963.000000  110501.000000
mean   2.171588e+06    1059.270001    1979.681306
std    1.604157e+06    4303.460797      11.427317
min    7.003540e+05      60.000000    1886.000000
25%    9.496235e+05     406.000000    1972.000000
50%    1.183765e+06     694.000000    1983.000000
75%    3.991690e+06    1186.823000    1989.000000
max    5.084641e+06  885567.607000    2016.000000

## **Need for data cleaning and preprocessing**

The results of these several functions indicate a few needs for cleaning and preprocessing the data:

1) The column `Birth Year` should be integer, but it has floating point values.

2) There are null values in a few columns. 

3) The values in columns `Start Time` and `End Time` are strings. We need to convert them to `datetime` values.

Let's find out which columns have null values. This could be derived from the `Non-Null Count` in the output of `trips.info()`. But there are simpler ways.

## **Task 1: For each column, find the number of rows with null value in that column. (5 points)** 

If your code for this task is correct, its output should tell you that two columns have null values --- column `Gender` has missing value in 81676 rows and 81462 for column `Birth Year`. Other columns have no null values.

In [324]:
# Code for Task 1
a=trips.isnull().sum()
print(a)

ID                   0
Start Time           0
End Time             0
Trip Duration        0
Start Station        0
End Station          0
User Type            0
Gender           81676
Birth Year       81462
dtype: int64



The `ID` column is not useful in our analysis. Hence, let's take it out. 

## **Task 2: Remove the `ID` column from the DataFrame `trips`. (5 points)**

In [325]:
# Code for Task 2
del trips["ID"]

## **Task 3: Replace null values in column `Gender` by `'Unknown'`. Replace null values in column `Birth Year` by -1. Note that this task has two desiganated code blocks. (5 points)** 

The column `Gender` has Null values, as `trips.describe()` shows. Hence, we are using a string `Unknown` to indicate that the user's gender information is not recorded. The column `Birth Year` has Null values too. We thus use -1 to indicate missing values in `Birth Year`.

In [326]:
# Code for Task 3 : code block for replacing null values in column Gender by ``Unknown``.
trips["Gender"].fillna("Unknown", inplace = True)
#print(trips['Gender'][0:50])

In [327]:
# Code for Task 3: code block for replacing null values in column Birth Year by -1.
trips["Birth Year"].fillna(float(-1),inplace = True)
#print(type(trips["Birth Year"][9]))

## **Task 4: Convert the data type of column ``Birth year`` to integer. Convert the data type of column ``Start Time`` and ``End Time`` to `datetime`.  Note that this task has two designated code blocks. (5 points)**

In [328]:
# Code for Task 4: code block for converting the data type of column ``Year Pubblished`` to integer.
trips["Birth Year"]=trips["Birth Year"].astype(int)

In [329]:
# Code for Task 4: code block for converting the data type of column ``Start Time`` and ``End Time`` to ``datetime``. 
trips['Start Time']= pd.to_datetime(trips['Start Time'])
trips['End Time']=pd.to_datetime(trips['End Time'])

After you finish Tasks 1 to 4, run `trips.info()`, `trips.head()` and `trips.describe()` again, to verify you have achieved the goals. In fact, you could do this from time to time, in various places, to make sure you haven't messed up the data.

In [330]:
trips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191963 entries, 0 to 191962
Data columns (total 8 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Start Time     191963 non-null  datetime64[ns]
 1   End Time       191963 non-null  datetime64[ns]
 2   Trip Duration  191963 non-null  float64
 3   Start Station  191963 non-null  object
 4   End Station    191963 non-null  object
 5   User Type      191963 non-null  object
 6   Gender         191963 non-null  object
 7   Birth Year     191963 non-null  int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 11.7+ MB

In [302]:
trips.head()

,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,2017-05-25 18:19:03,2017-05-25 18:45:53,1610.0,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992
1,2017-05-26 09:41:44,2017-05-26 09:46:25,281.0,Ashland Ave & Lake St,Wood St & Hubbard St,Subscriber,Female,1983
2,2017-05-30 15:46:18,2017-05-30 15:52:12,354.0,Larrabee St & Kingsbury St,Clark St & Elm St,Subscriber,Male,1985
3,2017-05-25 22:59:33,2017-05-25 23:07:19,466.0,Clark St & Armitage Ave,Sheffield Ave & Wrightwood Ave,Subscriber,Female,1985
4,2017-05-03 13:20:38,2017-05-03 13:31:13,635.0,Ada St & Washington Blvd,Daley Center Plaza,Subscriber,Male,1967

In [303]:
trips.describe()

       Trip Duration     Birth Year
count  191963.000000  191963.000000
mean     1059.270001    1139.153389
std      4303.460797     978.984634
min        60.000000      -1.000000
25%       406.000000      -1.000000
50%       694.000000    1965.000000
75%      1186.823000    1984.000000
max    885567.607000    2016.000000

Run the following code cell so that, even if your code in preceding tasks messed up the data, it will not affect the ensuing tasks.

In [304]:
!gdown "https://drive.google.com/uc?id=1Ew6Cco8knAPO4pdlK5bHKE_sFOtCZMkW"
trips = pd.read_pickle("task5.pkl")

Downloading...
From: https://drive.google.com/uc?id=1Ew6Cco8knAPO4pdlK5bHKE_sFOtCZMkW
To: /content/task5.pkl
100% 9.98M/9.98M [00:00<00:00, 43.1MB/s]

We want to find out which gender of users used the vehicle sharing service more often.

## **Task 5: Get the frequency of trips for both the Genders. (5 points)**

In [331]:
# Code for Task 5
count = trips.groupby(['Gender']).size()
a=count[0:2]
print(a[::-1])

Gender
Male      82335
Female    27952
dtype: int64

## **Task 6: Get the number of trips with each station as the starting point. Sort the start stations by frequency of trips, in descending order. (5 points)**

If you get the correct code, you will find that for 1719 trips `Streeter Dr & Grand Ave` is the `Starting Station`, which is the most among all stations.

In [332]:
# Code for Task 6
ui=trips['Start Station'].value_counts(normalize=False, sort=True, ascending=False)
print(ui)

Streeter Dr & Grand Ave            1719
Lake Shore Dr & Monroe St          1211
Lincoln Memorial                   1112
Jefferson Dr & 14th St SW          1042
Columbus Circle / Union Station    1011
                                   ...
Phillips Ave & 79th St                1
Damen Ave & 59th St                   1
Exchange Ave & 79th St                1
Halsted St & 69th St                  1
NYCBS Depot - GOW                     1
Name: Start Station, Length: 1616, dtype: int64

# **Task 7: Find the longest trip (in seconds) in our dataset. (5 points)**

In [333]:
# Code for Task 7
x=trips['Trip Duration'].max()
display(x)

885567.6070000001

## **Task 8: Find the stat station and end staion for the longest trip. (5 points)**

If your code is correct, it shoukd show the start and the end stations are __19th St & Constitution Ave NW__ and __23rd & E St NW__, respectively.

In [334]:
# Code for Task 8
x=trips[trips['Trip Duration'] == trips['Trip Duration'].max()]
x.loc[:,['Start Station','End Station']]

                        Start Station      End Station
101972  19th St & Constitution Ave NW  23rd & E St NW

We want to analyze the user base of the vehicle sharing service, especially their age. For that let's create an `Age` column based on `Birth Year`. Since the trips all took place in May 2017, we should calculate the users' ages then (i.e., 2017) instead of now.

## **Task 9: Create a column `Age` using `Birth Year`. (5 points)**

In [335]:
# Code for Task 9
age= 2017-trips['Birth Year']
trips['Age']= age

If your code is correct, the `Age` column should look like this.

In [336]:
trips['Age']

0         25
1         34
2         32
3         32
4         50
          ..
191958    45
191959    35
191960    45
191961    26
191962    45
Name: Age, Length: 191963, dtype: int64

In Task 3 we replaced null values in `Birth Year` with -1. Some of the `Age` values thus incorrectly become 2018. We need to replace them with -1 again.

In [337]:
trips['Age'] = trips['Age'].replace(2018, -1)

Run the following code cell so that, even if your code in preceding tasks messed up the data, it will not affect the ensuing tasks.

In [338]:
!gdown "https://drive.google.com/uc?id=1yIdnm2ICBnRMsUwkHe58xCARvLAxX3F5"
trips = pd.read_pickle("task9.pkl")

Downloading...
From: https://drive.google.com/uc?id=1yIdnm2ICBnRMsUwkHe58xCARvLAxX3F5
To: /content/task9.pkl
100% 11.5M/11.5M [00:00<00:00, 47.6MB/s]

Now let's create a categorical feature `Age Group` based on `Age`. We can discretize `Age` into `Child` (for 00-14 years old), `Youth` (for 14-24 years old), `Adult` (for 24-64 years old), and `Senior` (64 years and over). We should set the value of `Age Group` to a string `N/A` if the `Age` value is -1. In every category range, the starting point is inclusive and the endpoint is exclusive. For instance, the `Child` group is for those with `Age` >= 0 and `Age` < 14.

## **Task 10: Create a column `Age Group` and assign string values in this column based on `Age` according to the above description. (10 Points)**

In [339]:
trips['Age Group']= ""
trips['Age Group']=pd.cut(trips['Age'],bins=[-1,0,14,24,64,132],labels=['N/A','Child','Youth','Adult','Senior'],right=False)

If your code is correct your `Age Group` counts should be as follows.

In [340]:
trips['Age Group'].value_counts()

Adult     103364
N/A        81462
Youth       4635
Senior      2501
Child          1
Name: Age Group, dtype: int64

Run the following code cell so that, even if your code in preceding tasks messed up the data, it will not affect the ensuing tasks.

In [316]:
!gdown "https://drive.google.com/uc?id=1ad2XLlZrgj4hZ8MPnGQMyzWp6JqEL8m7"
trips = pd.read_pickle("task10.pkl")

Downloading...
From: https://drive.google.com/uc?id=1ad2XLlZrgj4hZ8MPnGQMyzWp6JqEL8m7
To: /content/task10.pkl
100% 12.5M/12.5M [00:00<00:00, 129MB/s]

Our next task attempts to examine the relationship between `Age Group` and average trip time.

## **Task 11: For each value of `Age Group` (except for `N/A`), find the average `Trip Duration`. (10 points)**

If your code is correct you should get Average Trip duration 765.17, 639.0, 784.28, 740.38 for `Adult`, `Child`, `Senior`, and `Youth`, respectively.

In [341]:
# Code for Task 11
trips['Age Group']=pd.cut(trips['Age'],bins=[0,14,24, 64,132] ,labels=['Child','Youth','Adult','Senior'] ,right=False,ordered= True)
r=trips.groupby('Age Group')['Trip Duration'].mean()
display(r.to_frame())

           Trip Duration
Age Group
Child         639.000000
Youth         740.381014
Adult         765.169711
Senior        784.281887

## **Task 12: Produce a pivot table of number of trips, using `Gender` for rows and `User type` for columns. Exclude the trips from users whose gender is `Unknown`. (11 points)**

In [342]:
# Code for Task 12
table = pd.pivot_table(trips, index=['Gender'],columns=['User Type'], aggfunc='count')
display(table['Age'].iloc[0:2])

User Type  Customer  Subscriber
Gender
Female          475       27477
Male            895       81440

## **Task 13: Get the average `Trip Duration` for each day of a week. The results should be sorted by average trip duration. (12 points)**

To decide the day of a trip, we only consider the trip's start time. For instance, if a trip starts on Monday, it is a Monday trip, regardless of when it ends. 

If your code is correct you will get that on weekends people usually take long trips.

i have imported datetime here because we have been told to do so on teams

In [343]:
# Code for Task 13
import datetime as dt
x=trips.groupby(trips['Start Time'].dt.dayofweek)['Trip Duration'].mean().sort_values(ascending=False)
display(x.to_frame())

            Trip Duration
Start Time
6             1382.117428
5             1344.448537
0             1092.311058
4              964.368331
2              940.540680
1              918.600529
3              898.084620

## **Task 14: Get the three most popular trip routes, in terms of `Start Station` and `End Station`. (12 Points)**

In [344]:
# Code for Task 14
a2=trips['End Station'].value_counts(normalize=False, sort=True, ascending=False)
w=ui[:3].to_frame().reset_index()
w1=a2[:3].to_frame().reset_index()
print("['From",w.iloc[1,0],"To",w1.iloc[0,0],"'"",""\n 'From",w.iloc[0,0],"To",w1.iloc[0,0],"'" ,",""\n 'From",w.iloc[1,0],"To",w1.iloc[2,0], "'" ,"]")

['From Lake Shore Dr & Monroe St To Streeter Dr & Grand Ave ',
 'From Streeter Dr & Grand Ave To Streeter Dr & Grand Ave ' ,
 'From Lake Shore Dr & Monroe St To Lake Shore Dr & Monroe St ' ]